.header {
    background: #FFFFFF;
    max-width: 115rem;
    max-height: 4.4rem;
    margin-block-start: 1.2rem;
    margin-inline: auto;
    justify-content: space-between;
    margin-block-end: 10.6rem;
}

.nav-tabs {
    font-family: 'Gilroy-Medium';
    font-size: 1.8rem;
    list-style: none;
    gap: 4rem;
    max-width: 50.4rem;
    max-height: 2.4rem;
    padding: 0;
}

a {
    color: #141414;
    text-decoration: none;
}

.myurls a {
    font-size: 1.8rem;
    color: #0065FE;
    line-height: 2.1rem;
}

.chevron {
    display: inline;
    margin-inline-start: .4rem;
}

.nav-cta {
    font-family: 'Gilroy-Medium';
    gap: 2.4rem;
    font-size: 1.6rem;
    line-height: 1.2rem;
}

.login {
    color: #0065FE;
}

.trial {
    color: #FFF;
    background-color: #0065FE;
    border-radius: 10rem;
    padding-inline: 2.4rem;
    padding-block: 1.2rem;
}


/* styles for hero page write-ups */
.hero-page {
    flex-direction: column;
}

.hero-catchphrase {
    max-width: 94.8rem;
    text-align: center;
}

.phrase1 {
    font-family: 'Gilroy-Bold';
    font-size: 4.8rem;
    line-height: 9.6rem;
}

.phrase1 span {
    display: inline-flex;
    flex-direction: column;
    color: #005AE2;
}

.blue-line {
    display: inline;
    max-width: 17.3rem;
    margin-inline-start: 7rem;
    margin-block-start: -1.8rem;
}

.hero-catchphrase p {
    font-family: 'Gilroy-Medium';
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 78.1rem;
    margin: 0 auto;
    padding-inline: 3rem;
    margin-block-start: .8rem;
}

.cta {
    font-family: 'Gilroy-Medium';
    font-size: 1.6rem;
    max-width: 94.8rem;
    max-height: 38.9rem;
    margin-block-start: 3.2rem;
    gap: 5.6rem;
}

.signup {
    background: #0065FE;
    color: #FFF;
    line-height: 1.2rem;
    max-width: 14.2rem;
    max-height: 4.4rem;
    border-radius: 10rem;
    padding-block: 1.2rem;
    padding-inline: 2.5rem;
}

.learn-more {
    color: #0065FE;
}

.phrase2 {
    display: inline-flex;
    padding: 4rem 6rem;
    border-radius: 2.4rem;
    border: 0.05rem solid #005AE2;
    background: rgba(254, 254, 254, 0.10);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
    margin-block-start: 8rem;
    width: 76.8rem;
    opacity: 1;
    backdrop-filter: blur(10.6rem);
    margin-bottom: 7.6rem;
}

.link1 {
    margin-inline-start: -.6rem;
}

.r-arr {
    margin-inline: 2rem;
}

.phrase2 p {
    font-family: 'Gilroy-Medium';
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    align-items: stretch;
    width: 100%;
}

.plectrum {
    position: absolute;
    left: 40.9rem;
    top: 58rem;
}


/* styles for page 2 */
.page2 {
    flex-direction: column;
    gap: 12.8rem;
}

.phrase3 {
    padding-block: 6rem;
    padding-inline: 14rem;
    gap: 12rem;
}

.phrase3 h3 {
    font-family: 'Gilroy-Bold';
    font-size: 4rem;
    line-height: 4.8rem;
}

.phrase3 h3 span {
    color: #005AE2;
}

.phrase3 .product-about {
    gap: 7.2rem;
    align-items: flex-start;
    
}

.product-about div p {
    font-family: 'Gilroy-Medium';
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.product-about div p b {
    font-family: 'Gilroy-Medium';
    font-size: 3.2rem;
    line-height: 4rem;
}

.why-choose-scissors {
    align-items: flex-start;
    gap: 9.6rem;
    margin-block-end: 13rem;
}

.why {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}

.why div {
    font-family: 'Gilroy-Bold';
    font-size: 4rem;
    line-height: 3.2rem;
    color: #141414;
    display: inherit;
    gap: 1.6rem;
}    

.why div h3 span {
    color: #005AE2;
}    

.why > p {
    font-family: 'Gilroy-Medium';
    font-size: 1.6rem;
    line-height: 2.8rem;
    max-width: 37rem;
    margin-inline-start: 2.8rem;
}

.services {
    flex-direction: column;
    gap: 6.4rem;
    align-items: flex-start;
}

.container {
    display: inherit;
    gap: 2.8rem;
}

.url-shortening,
.custom-urls,
.qr-codes,
.data-analytics {
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
}

.container div img + div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    width: 34rem;
    font-family: 'Gilroy-Medium';
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.container div img + div b {
    font-family: 'Gilroy-SemiBold';
    font-size: 3.2rem;
    line-height: 2.8rem;
}
